{% extends "base.html" %}

{% block content %}
<title>{{ title }}</title>
<body>
<div align="center" style="background: #ebeeef; font-size: 18px;">
    Мы, ученики Яндекс.Лицея, создали свой первый проект на web с помощью Django.<br>
    Мы создали автоматизированный сайт для дропишиппинга.<br>
    Все дальшие идеи по развитию сайта мы принимаем на почту <a href="mailto:project_yandex_lyceum@mail.ru">project_yandex_lyceum@mail.ru</a>!!<br>
    Будем рады услышать ваши пожелания!
</div>
</body>
{% endblock %}