<title>Добавление продукта</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
.login{
  width: 100%;
  margin: 0 auto;
}
.log{
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #ebeeef;
}
</style>
{% block content %}
<form action="" method="post" enctype="multipart/form-data" class="login">
    <div class="log">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.category.label }}<br>

        {{ form.category(class="form-control") }}<br>

        {{ form.submit(type="submit", class="btn btn-success") }}<br>


        {% for error in form.category.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    {% endfor %}
        </p>
    {{ message }}
</div>
</form>
{% endblock %}