{% extends "base.html" %}
{% block content %}
<style>
.login{
  width: 50%;
  margin: 0 auto;
}
.product p {
	position: relative;
	margin: 0;
	padding: 10px;
}
</style>
<div class="login">
    <div style="background: #ebeeef;">
        <div class="product">
                <img style="padding: 10px;" src='static/img/no_img_profile.png'><br>
            <p>Имя - {{user.name}}</p>
    {% if user.telephone %}
        <p>Телефон - {{user.telephone}}</p>
    {% else %}
        <p>Телефон не указан</p>
    {% endif%}
            <p>Почта - {{user.email}}</p>
            <p>Зарегистрирован с {{user.created_date}}</p>
    {% if user.city %}
        <p>Город - {{user.city}}</p>
    {% else %}
        <p>Город не указан</p>
    {% endif%}
            <p><a href='/profile_update' class="btn btn-success">Изменить данные</a></p>
        </div>
        </div>
    </div>
{% endblock %}